.header {
    $block: &;

    height: 300vh;
    background-color: transparent;


    &__inner {
        height: 100vh;
    }
    &__intro {
        position: absolute;
        bottom: 0;
        font-size: 17vw;
        white-space: nowrap;
        color: $color-primary;
        mix-blend-mode: difference;
        left: 0;
        width: fit-content;
    }
}