.header {
    $block: &;

    height: 500vh;
    background-color: transparent;


    &__inner {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: toRem(100);
    }

    &__content {

    }
    &__time {
        margin-top: toRem(100);
        opacity: 0.3;
    }
}