.navigation {
    $block: &;

    position: fixed;
    width: 100%;
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    transition: $transition-link;


}
