@font-face {
    font-family: 'Rotonto';
    src: url('../fonts/Rotonto-Light-olcvfa.woff2') format('woff2'),
        url('../fonts/Rotonto-Light-s5tirp.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rotonto';
    src: url('../fonts/Rotonto-Regular-hffs9f.woff2') format('woff2'),
        url('../fonts/Rotonto-Regular-5rg2rh.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

