.module-info {
    $block: &;
    background-color: $color-almost-white;
    border: 1px solid $color-grey-light;
    padding: 25px;
    margin: 100px 0 25px 0;
    display: inline-block;
    border-radius: 3px;
}
