mixin header(data)
    header.header.js-header(data-component='{"component": "header"}')
        .header__inner.js-header__inner
            
            .header__content
                .u-line
                    .header__title.h1.green.js-header__title!= 'Gosha<br>from Georgia'
                .u-line
                    .header__time.js-header__subtitle.js-time.h3.green // 1312312