meta(charset='utf-8')
block title
    title Title
meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=3.0')
meta(http-equiv='X-UA-Compatible' content='IE=edge')
meta(name="cmsmagazine" content="17ded5a9362aae72cf758d760240d50b")
link(rel='stylesheet', href='assets/css/main.css?v=' + PACKAGE.version)


//- ICON
link(rel='apple-touch-icon' sizes='180x180' href='assets/favicon/apple-touch-icon.png')
link(rel='icon' type='image/png' sizes='32x32' href='assets/favicon/favicon-32x32.png')
link(rel='icon' type='image/png' sizes='16x16' href='assets/favicon/favicon-16x16.png')
link(rel='manifest' href='assets/favicon/site.webmanifest')
meta(name='msapplication-TileColor' content='#000')
meta(name='theme-color' content='#000')

//- SEO
meta(name='description' content='')
link(rel='canonical' href='')
meta(name='format-detection' content='telephone=no')
meta(property='og:locale' content='')
meta(property='og:type' content='')
meta(property='og:title' content='')
meta(property='og:description' content='')
meta(property='og:url' content='')
meta(property='og:site_name' content='')
meta(property='og:image' content='')
meta(property='og:image:secure_url' content='')
meta(property='og:image:width' content='')
meta(property='og:image:height' content='')
meta(name='twitter:card' content='')
meta(name='twitter:description' content='')
meta(name='twitter:title' content='')
meta(name='twitter:image' content='')
