block variables
doctype html
html(lang=__.lang, class="no-js")
    head
        include head
    body
        include mixins/svgicon
        include mixins/svgimage
        include mixins/button
        include mixins/headline
        include mixins/image
        include overlays/contact-overlay
        include preloader
        include contact
        include navigation
        include header
        include footer


        -
            const data = {
            }

        .page(data-barba="wrapper")
            //-  fixed content
            //- overlays
            +contact-overlay(data.contact)

            //- specific page fixed content
            block fixed 

            //- smooth scroll
            #smooth-wrapper
                #smooth-content
                    //- specific page main content
                    block content
                        span no content provied
                    
                    //- footer
                    block footer
                        +footer()
        include scripts
