block variables
doctype html
html(lang=__.lang, class="no-js")
    head
        include head
    body
        include mixins/svgicon
        include mixins/svgimage
        include mixins/button
        include mixins/headline
        include mixins/image
        include overlays/example
        include preloader
        include navigation
        include header
        include footer

        block content
            span no content provied

        include scripts
