block variables
doctype html
html(lang=__.lang, class="no-js")
    head
        include head
    body
        include mixins/svgicon
        include mixins/svgimage
        include mixins/button
        include mixins/headline
        include mixins/image
        include overlays/contact-overlay
        include preloader
        include contact
        include navigation
        include header
        include works
        include footer


        -
            const data = {
                footer: {
                    title: 'Gosha Khidzhakadze <br> © 2023',

                    links: [
                        {
                            label: 'Envmap Animation',
                            href: '/'
                        },
                        {
                            label: 'Noise Refraction',
                            href: '/refraction'
                        },

                    ]
                }
            }

        .page

            //- specific page fixed content
            block fixed 


            //- specific page main content
            block content
                span no content provied
                    
            //- footer
            +footer(data.footer)
        include scripts
