mixin navigation(data)
    nav.navigation.js-navigation
        .navigation__logo.copy.white!= data.title

        .navigation__links
            each link in data.links ? data.links : ['There are no values']
                a.navigation__links__item.copy(href=link.href target='_self')= link.label
           
               

