mixin navigation(data)
    nav.navigation.js-navigation
        .navigation__links
            a(href="#about").copy.black.navigation__links__item Instagram
            a(href="#about").copy.black.navigation__links__item Gitlab
               

