mixin navigation(data)
    nav.navigation.js-navigation
        .navigation__logo.copy.white!= data.logo

        .navigation__links
            each link in data.links ? data.links : ['There are no values']
                .navigation__links__item.copy= link.label
           
               

