extends /_includes/layout

block title
    title Gosha — Creative Developer

    -
        const pageData = {
        }

block fixed
    //- +navigation()

block content

    //- .content
    //-     .content__title
    //-         .h1.white LOREM IPSUM
    //-     .content__title
    //-         .h1.white LOREM IPSUM
    //-     .content__title
    //-         .h1.white LOREM IPSUM
    //-     .content__title
    //-         .h1.white LOREM IPSUM
    //-     .content__title
    //-         .h1.white LOREM IPSUM
    //-     .content__title
    //-         .h1.white LOREM IPSUM
    //-     .content__title
    //-         .h1.white LOREM IPSUM
    //-     .content__title
    //-         .h1.white LOREM IPSUM
    //-     .content__title
    //-         .h1.white LOREM IPSUM
    //-     .content__title
    //-         .h1.white LOREM IPSUM
    //-     .content__title
    //-         .h1.white LOREM IPSUM
    //-     .content__title
    //-         .h1.white LOREM IPSUM
    //-     .content__title
    //-         .h1.white LOREM IPSUM
    //-     .content__title
    //-         .h1.white LOREM IPSUM
    //-     .content__title
    //-         .h1.white LOREM IPSUM
    .scene(data-component='{"component": "three"}')
        canvas.scene__canvas.js-scene

