extends /_includes/layout

block title
    title Gosha — Creative Developer

    -
        const pageData = {
            header: {
                title: 'GOSHA'
            }
        }

block fixed
    .scene(data-component='{"component": "three"}')
        canvas.scene__canvas.js-scene
        +headline({tag: "h1", class: "h1 header__intro js-header__intro"}, 'WELCOME TO MY WORLD')


block content

    +header(pageData.header)




