extends /_includes/layout

block title
    title THRC — Full-cycle web3 agency

    -
        const pageData = {
        }

block fixed
    +navigation(pageData.navigation)

block content
    .scene

