extends /_includes/layout

block title
    title Gosha — Creative Developer

    -
        const pageData = {
        }

block fixed
    //- div.noise(data-component='{"component": "noise"}')
    //-     canvas.js-noise


block content
    .scene(data-component='{"component": "three"}')
        canvas.scene__canvas.js-scene


