extends /_includes/layout

block title
    title ETHERIC

block content
    -
        const rawData = {
            
            header: {
                title: 'Etheric boilerplate',
            },
        }
    .page
        +navigation()
        //- scroll-content starts here
        #view-main
            +header(rawData.header)
            //- +footer()
