extends /_includes/layout

block title
    title Lab — Gosha Khidzhakadze

    -
        const pageData = {
            navigation: {
                title: 'Noise refraction and reflection <br> fresnel shader',
            },

        }

block fixed
    +navigation(pageData.navigation)


block content
    .scene(data-component='{"component": "monopo"}')
        canvas.scene__canvas.js-scene



