.my-svgsprite {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
  vertical-align: middle;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

body {
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  overflow-y: hidden !important;
  background-color: #000;
}

section {
  position: relative;
}

@font-face {
  font-family: "NB Architekt Std";
  src: url("../fonts/NBArchitektStd-Bold.woff2") format("woff2"), url("x/NBArchitektStd-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "NB Architekt Std";
  src: url("../fonts/NBArchitektStd-Regular.woff2") format("woff2"), url("../fonts/NBArchitektStd-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "NB Architekt Std";
  src: url("../fonts/NBArchitektStd-Light.woff2") format("woff2"), url("../fonts/NBArchitektStd-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "NB Architekt Std Neue";
  src: url("../fonts/NBArchitektStdNeue-Bold.woff2") format("woff2"), url("../fonts/NBArchitektStdNeue-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "NB Architekt Std Neue";
  src: url("../fonts/NBArchitektStdNeue-Regular.woff2") format("woff2"), url("../fonts/NBArchitektStdNeue-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "NB Architekt Std Neue";
  src: url("../fonts/NBArchitektStdNeue-Light.woff2") format("woff2"), url("../fonts/NBArchitektStdNeue-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
.module-info {
  background-color: #f0f2f4;
  border: 1px solid #e5e5e5;
  padding: 25px;
  margin: 100px 0 25px 0;
  display: inline-block;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

body,
input,
select,
textarea,
button {
  font-family: "NB Architekt Std", Arial, sans-serif;
  font-size: 16px;
  line-height: 2;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
body ::-moz-selection, input ::-moz-selection, select ::-moz-selection, textarea ::-moz-selection, button ::-moz-selection {
  color: #ffb7b7;
  /* WebKit/Blink Browsers */
}
body ::selection,
input ::selection,
select ::selection,
textarea ::selection,
button ::selection {
  color: #ffb7b7;
  /* WebKit/Blink Browsers */
}
body ::-moz-selection,
input ::-moz-selection,
select ::-moz-selection,
textarea ::-moz-selection,
button ::-moz-selection {
  color: #ffb7b7;
  /* Gecko Browsers */
}

a {
  color: #ffffff;
  text-decoration: none;
}
a:not(.button) {
  -webkit-transition: 0.2s cubic-bezier(0, 0, 0.58, 1);
  -o-transition: 0.2s cubic-bezier(0, 0, 0.58, 1);
  -moz-transition: 0.2s cubic-bezier(0, 0, 0.58, 1);
  transition: 0.2s cubic-bezier(0, 0, 0.58, 1);
}
.no-touch a:not(.button):hover {
  color: #e6e6e6;
}

.h1 {
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
  font-size: 64px;
  line-height: 1;
  letter-spacing: 0.25em;
}
@media (min-width: 61.25em) {
  .h1 {
    font-size: 80px;
  }
}
@media (min-width: 80em) {
  .h1 {
    font-size: 120px;
  }
}

.h2 {
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
  font-size: 30px;
  line-height: 1.4;
  letter-spacing: -0.03em;
}
@media (max-width: 47.49em) {
  .h2 {
    font-size: 32px;
    line-height: 140%;
  }
}
@media (min-width: 61.25em) {
  .h2 {
    font-size: 60px;
  }
}

.h3 {
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
  font-size: 24px;
  line-height: 1;
  letter-spacing: -0.03em;
}
@media (min-width: 61.25em) {
  .h3 {
    font-size: 40px;
  }
}
@media (max-width: 47.49em) {
  .h3 {
    font-size: 32px;
    line-height: 140%;
  }
}

.copy {
  line-height: 1;
  font-size: 16px;
  letter-spacing: 0.05em;
}

.copy-bold {
  line-height: 1;
  font-size: 16px;
  letter-spacing: 0.05em;
  font-weight: 600;
}

.white {
  color: #ffffff;
}

.black {
  color: #000;
}

.center {
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
ul li {
  padding-left: 3em;
  margin-bottom: 1.875rem;
  position: relative;
}
ul li:last-child {
  margin-bottom: 0;
}
ul li::before {
  content: "";
  position: absolute;
  left: 1.3em;
  top: 1em;
  width: 10px;
  height: 1px;
}

section {
  position: relative;
  overflow: hidden;
}

[data-scrollbar] {
  height: 100vh;
  width: 100vw;
  overflow: auto;
  background: #fff;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  margin-bottom: -1px;
}

.scroll-content {
  overflow: hidden !important;
  width: 100vw;
  will-change: transform;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.scrollbar-track {
  background: 0 0 !important;
  z-index: 200 !important;
  mix-blend-mode: difference;
}

.scrollbar-thumb-y {
  right: 0 !important;
  width: 5px !important;
  background: #ffffff !important;
  -webkit-border-radius: 6px !important;
     -moz-border-radius: 6px !important;
          border-radius: 6px !important;
}
.is-locked .scrollbar-thumb-y {
  pointer-events: none;
  opacity: 0;
}

.scrollbar-thumb-y:hover {
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
}

.button {
  display: inline-block;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  cursor: pointer;
  border: none;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  position: relative;
  text-transform: uppercase;
  line-height: 1;
  font-weight: 700;
  -webkit-transition: 0.2s cubic-bezier(0, 0, 0.58, 1);
  -o-transition: 0.2s cubic-bezier(0, 0, 0.58, 1);
  -moz-transition: 0.2s cubic-bezier(0, 0, 0.58, 1);
  transition: 0.2s cubic-bezier(0, 0, 0.58, 1);
}
.button.is-disabled {
  cursor: not-allowed;
  pointer-events: none;
}
.button > .preloader {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%) translateZ(0);
     -moz-transform: translateY(-50%) translateZ(0);
          transform: translateY(-50%) translateZ(0);
  right: 20px;
}
.button--style--white {
  background-color: #ffffff;
  color: black;
}
.no-touch .button--style--white:hover {
  background-color: #e6e6e6;
}
.button--style--black {
  background-color: #000;
  color: white;
}
.no-touch .button--style--black:hover {
  background-color: #1a1a1a;
}
.button--size--default {
  font-size: 16px;
  padding: 22px 20px;
}
.button__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation {
  position: fixed;
  width: 100%;
  padding: 30px 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
  -webkit-transition: 0.2s cubic-bezier(0, 0, 0.58, 1);
  -o-transition: 0.2s cubic-bezier(0, 0, 0.58, 1);
  -moz-transition: 0.2s cubic-bezier(0, 0, 0.58, 1);
  transition: 0.2s cubic-bezier(0, 0, 0.58, 1);
}
.navigation__logo {
  font-size: 50px;
  height: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  fill: #ffffff;
  -webkit-transition: 0.2s cubic-bezier(0, 0, 0.58, 1);
  -o-transition: 0.2s cubic-bezier(0, 0, 0.58, 1);
  -moz-transition: 0.2s cubic-bezier(0, 0, 0.58, 1);
  transition: 0.2s cubic-bezier(0, 0, 0.58, 1);
}
@media (max-width: 47.49em) {
  .navigation__logo {
    font-size: 40px;
    height: 40px;
  }
}
.navigation__logo svg {
  fill: inherit;
}
.navigation__links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
     -moz-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.navigation__links__item {
  margin-right: 5.625rem;
}
.navigation__links__item a:not(.button) {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 47.49em) {
  .navigation__links__item {
    margin-right: 1.25rem;
  }
}
@media (max-width: 47.49em) {
  .navigation__links__item-text.is-desktop {
    display: none;
  }
}
@media (min-width: 47.5em) {
  .navigation__links__item-text.is-mobile {
    display: none;
  }
}
.navigation.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.navigation[data-color=black] .navigation__logo {
  fill: #000 !important;
}
.navigation[data-color=black] .navigation__links__item a {
  color: #000;
}
.navigation[data-color=black] .navigation__links__button .button {
  color: #ffffff;
  background-color: #000;
}
.no-touch .navigation[data-color=black] .navigation__links__button .button:hover {
  background-color: #1a1a1a;
}

.container {
  margin: 0 auto;
  width: 100%;
  padding: 0 1.5rem;
}
@media (min-width: 47.5em) {
  .container {
    padding: 0 2.5rem;
  }
}
@media (max-width: 47.49em) {
  .container--no-padding-until-tablet {
    padding: 0;
  }
}
.container__indent {
  margin: 0 auto;
}
@media (min-width: 47.5em) {
  .container__indent {
    width: 75%;
  }
}
@media (min-width: 61.25em) {
  .container__indent {
    width: 83.3333333333%;
  }
}
@media (min-width: 90em) {
  .container__indent {
    width: 66.6666666667%;
  }
}
@media (min-width: 90em) {
  .container__indent--no-indent-notebook {
    width: 100%;
  }
}

.overlay {
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  padding: 3.75rem 0;
  z-index: 120;
  -webkit-transform: translateY(100%);
     -moz-transform: translateY(100%);
      -ms-transform: translateY(100%);
       -o-transform: translateY(100%);
          transform: translateY(100%);
  pointer-events: none;
  -webkit-transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
  transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
}
.overlay.is-visible {
  pointer-events: all;
  -webkit-transform: none;
     -moz-transform: none;
      -ms-transform: none;
       -o-transform: none;
          transform: none;
}
.overlay > .preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) translateZ(0);
     -moz-transform: translate(-50%, -50%) translateZ(0);
          transform: translate(-50%, -50%) translateZ(0);
}
.overlay__content {
  background-color: #000;
  width: 100%;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  height: -webkit-calc(100vh - 60px);
  height: -moz-calc(100vh - 60px);
  height: calc(100vh - 60px);
  overflow: scroll;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
.overlay__content--default {
  max-width: 900px;
}
.overlay__content--full-hd {
  max-width: 1920px;
}
.overlay__content--transparent {
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
}
.overlay__content:focus {
  outline: none;
}
.overlay__close {
  -webkit-transition: 0.2s cubic-bezier(0, 0, 0.58, 1);
  -o-transition: 0.2s cubic-bezier(0, 0, 0.58, 1);
  -moz-transition: 0.2s cubic-bezier(0, 0, 0.58, 1);
  transition: 0.2s cubic-bezier(0, 0, 0.58, 1);
  position: absolute;
  width: 100%;
  text-align: right;
  top: 0;
  right: 0;
  padding: 1em;
  font-size: 16px;
  cursor: pointer;
  z-index: 10;
  opacity: 0;
  height: 3.75rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
     -moz-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media (max-width: 23.49em) {
  .overlay__close {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
       -moz-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
         -o-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}
.overlay__close svg {
  pointer-events: none;
}
.is-visible .overlay__close {
  opacity: 1;
  -webkit-transition-delay: 0.7s;
     -moz-transition-delay: 0.7s;
       -o-transition-delay: 0.7s;
          transition-delay: 0.7s;
}
.no-touch .overlay__close:hover {
  color: #e6e6e6;
}

@-webkit-keyframes hideOverlayContent {
  from {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
  to {
    opacity: 0;
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
}

@-moz-keyframes hideOverlayContent {
  from {
    opacity: 1;
    -moz-transform: none;
         transform: none;
  }
  to {
    opacity: 0;
    -moz-transform: translateY(5px);
         transform: translateY(5px);
  }
}

@-o-keyframes hideOverlayContent {
  from {
    opacity: 1;
    -o-transform: none;
       transform: none;
  }
  to {
    opacity: 0;
    -o-transform: translateY(5px);
       transform: translateY(5px);
  }
}

@keyframes hideOverlayContent {
  from {
    opacity: 1;
    -webkit-transform: none;
       -moz-transform: none;
         -o-transform: none;
            transform: none;
  }
  to {
    opacity: 0;
    -webkit-transform: translateY(5px);
       -moz-transform: translateY(5px);
         -o-transform: translateY(5px);
            transform: translateY(5px);
  }
}
.page {
  overflow: hidden;
}
.page::after {
  content: "";
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-transition: opacity, visibility, z-index;
  -o-transition: opacity, visibility, z-index;
  -moz-transition: opacity, visibility, z-index;
  transition: opacity, visibility, z-index;
  -webkit-transition-delay: 0s, 0s, 0.4s;
     -moz-transition-delay: 0s, 0s, 0.4s;
       -o-transition-delay: 0s, 0s, 0.4s;
          transition-delay: 0s, 0s, 0.4s;
  -webkit-transition-duration: 0.4s, 0.4s, 0.01s;
     -moz-transition-duration: 0.4s, 0.4s, 0.01s;
       -o-transition-duration: 0.4s, 0.4s, 0.01s;
          transition-duration: 0.4s, 0.4s, 0.01s;
  pointer-events: none;
}
.is-dimmed .page::after {
  visibility: visible;
  pointer-events: auto;
  opacity: 1;
}
.is-locked .page {
  position: fixed;
  left: 0;
  width: 100%;
}

.preloader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 11;
  background-color: #000;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.preloader__title {
  opacity: 1;
}
.preloader .blink {
  -webkit-animation: blinker 0.25s linear infinite;
     -moz-animation: blinker 0.25s linear infinite;
       -o-animation: blinker 0.25s linear infinite;
          animation: blinker 0.25s linear infinite;
}
@-webkit-keyframes blinker {
  50% {
    opacity: 0;
  }
}
@-moz-keyframes blinker {
  50% {
    opacity: 0;
  }
}
@-o-keyframes blinker {
  50% {
    opacity: 0;
  }
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
/*# sourceMappingURL=main.css.map */
