mixin about-overlay(data)
    div.overlay.js-overlay__content(data-overlay="about")
        div.overlay__close.overlay__close--primary.js-overlay__close.copy.white CLOSE
        div.overlay__content
            div.about-overlay
                .container.about-overlay__container
                //- content
                +about(data)
